body {
    background-color: wheat;
    border-style: solid;
    
}

h1, h2, h3 {
    text-align: center;
    font-size: medium;
}

h4 {
    text-align: center;

}

p {
    color: black;
   margin: 10px 10px 10px 10px;
}

div {
    text-align: right;
    margin-right: 50px;
    margin-bottom: 50px;
}